// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ecf0f1;
}

html {
  background-color: #ecf0f1;
}
